venv/
.env
.env.local
.venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

.vscode/
.idea/
*.swp
*.swo
.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd

university_app/migrations/0*.py   # ← закомментируй, если хочешь коммитить миграции

theme/static_src/
theme/node_modules/
theme/package*.json
theme/tailwind.config.js

*.env
*.local
db.sqlite3-journal
